/* Inicio da Page_index */
/* .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
} */

.container_index{
        
    /* top:204px;
    right:300px; */

    margin-top: 0;
    /* position: fixed; */

    width: 1920px;
    height: 1020px;
}

.index_Titulo{

    font-size: 50px;
    text-align: right;

    width: 700px;
    height: 300px;

    top:204px;
    left: 1150px;
    position: absolute;
}

.index_Texto{
    align-content: center;
    
    font-size: 32px;
    text-align: right;
    
    width: 318px;

    left: 1530px;
    top: 495px;
    position: absolute;
}

.texto{
    font-size: 24px;
}

.subTitulo{
    font-size: 32px;
}

.index_botao button{

    background-color: transparent;
    color: #fff;
    
    border: 2px solid #fff;
    border-radius: 8px;
    font-size: 32px;

    top:730px;
    left:1633px;

    position: absolute;
    padding: 12px 28px;
}
/* Final Page Index */

/* Inicio Page About */

.container_About{
    background-color: #5e59592d;
    /* border: 1px solid #f1e6e6; */

    width: 1920px;
    height: 727px;

    position: absolute;
}

.about_Conteudo{
    /* border: 1px solid #701313; */

    display: flex;
    justify-content: space-between;
    

    height: 416px;

    margin-left: 100px;
    margin-right: 100px;
}

.about_Titulo{
    text-align: center;
    font-size: 50px;
    
}

.about_Texto{
    font-size: 32px;

    
    width: 785px;    
}

.about_Card{
    border-radius: 10px;

    width: 850px; 
    height: 416px; 
}

/* Final Page About */

/* Inicio Page Benefits */
.container_Benefits{
    
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 40px;

    top:1870px;
    left:0px;

    position: absolute;

    width: 1920px;
    height: 1026px;
}

.benefits_Titulo{
    align-content: center;
    
    font-size: 50px;

    text-align: center;

    width: 1284px;
    height: 193px;

    left: 318px;

    position: absolute;
}

.benefits_Texto{
    font-size: 30px;

    top:320px;
    position: absolute;
}

.card{
    background-color:#e40a0a;
    border-radius:7px;
    flex-shrink: 0;
    filter: blur(.3px);
    height: 400px;
    width: 400px;
    
}

.texto{
    color: #f5f8fa;
    font-size: 16.071px;
    margin: 0;
}

.cards{
    display: flex; /* coloca elementos na posição horinzontal*/
    gap: 85px; /* defini espaço entre os cards*/

    top: 433px;
    left: 230px;
    position: absolute;

    justify-content:space-around;/* o gap deve ser usado com flex-start, mas também é opcional*/
    /*justify-content: space-between; primeira forma de ajusta espaçamento dos cards
    width: 769px;*/ 

}

.imagem{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

/* Final Benefits */

/* inicio Cars */

.container_cars{
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    


    top: 2895px;
    
    position: absolute;

    width: 1920px;
    height: 852px;

    
}

.cars_Titulo{
    border: 1px solid #fff;

    font-size: 50px;
    text-align: center;
    padding: 0;

}

.cars_Texto{
    border: 1px solid #fff;

    font-size: 80px;

    text-align: center;
}
.cars_painel{

    border: 1px solid #fff;

}

