/* define o designer do Logo */
.logo {
    margin: 0;
    /* top: 32px;
    left: 100px; */
    font-size: 56px;
    position: absolute;
    width: 350px;
    height: 48px;

}

/* definições do menu e item-menu */
.menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap:40px;
    margin:0;
    
    position: absolute;
}

.itemMenu{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}
.contato{
    align-items: flex-start;
    border: 1px solid #fff;
    border-radius: 8px;
    display: flex;
    font-size: 24px;
    top: 41.5px;
    left: 1669px;
    margin:0;
    position: absolute;
    padding: 8px 32px;
    

}