/* define o designer do Logo */

/* inicio do Header */
.container_header{
    
    display: flex;
    justify-content: center;
       
    width: 1920px;
    height: 1020px;
    
    
}

.container_nav{
    
    display: flex;
    justify-content: space-between;
    align-items:center;
    
    padding: 32px 100px;
    
    width: 1920px;
    height: 48px;
}

.logo{
    
    font-size: 56px;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 80px;
    font-size: 24px;
    list-style-type: none;
}

.contato{
    text-align: center;
    width: 150px;
    border-radius: 8px;
    border: 1px solid #fff;
    font-size: 24px;
    padding: 8px 32px;
}
/* final do Header */


